@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Cantarell);
@import url(/lib/css/normalize.css);
/* normalize.css */
/* Variables */
/* Mixins */
/* Font */
header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: white; }

p {
  font-family: Cantarell, Helvetica, Arial, sans-serif; }

li {
  list-style-type: none; }

a {
  color: #e11921;
  text-decoration: none; }
  a:active, a.current {
    color: black;
    background: url("/images/contentbackground.png") repeat; }

body {
  background: #232323; }
  body > header {
    width: 960px;
    margin: 0 auto 10px;
    height: 150px; }
    body > header > a {
      float: left;
      display: block;
      width: 150px;
      height: 150px; }
      body > header > a img {
        width: 100%; }
    body > header > h1 {
      margin: 0 0 0 170px;
      padding-top: 30px;
      height: 50px; }
    body > header > nav {
      height: 90px;
      padding-top: 10px;
      margin-left: 163px; }
      body > header > nav > a {
        padding: 5px 7px;
        margin: 0;
        font-weight: bold;
        border-radius: 5px 5px 5px 5px;
        -khtml-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px; }
        body > header > nav > a:hover {
          background: #a4060a;
          color: #fff; }
          body > header > nav > a:hover.current {
            color: black; }
  body .main {
    width: 960px;
    margin: 0 auto; }
    body .main header span {
      display: inline-block;
      width: 220px;
      float: right; }
    body .main header h2 {
      display: inline-block; }
    body .main .title, body .main .title a, body .main .title h2 {
      font-family: "Roboto Slab", serif;
      color: white;
      font-size: 24px !important;
      font-weight: bold;
      height: 36px;
      margin: 0;
      padding: 0; }
    body .main .title span.date {
      float: right; }
    body .main p.date {
      font-size: 10px;
      font-variant: small-caps; }
    body .main .text {
      font-family: Cantarell, Helvetica, Arial, sans-serif;
      padding: 10px;
      border-radius: 5px 5px 5px 5px;
      -khtml-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      background: url("/images/contentbackground.png") repeat; }
      body .main .text > pre {
        border-radius: 5px 5px 5px 5px;
        -khtml-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px; }
  body footer {
    text-align: center;
    clear: both;
    width: 100%;
    margin: 0 0 20px 0;
    background: transparent url("/images/hr.gif") no-repeat bottom center; }

/*
body, * {
  background-color: #FAFAFA;
}

body {
  margin: 20px;
}

header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #04356C;
}


header {
  display: block;
}

header > img {
  float: left;
}

header > .header {
  display: inline;
  float: left;
  margin-left: 20px;
}

header > h1 {
}

header > nav {
}

.clearfloat {
  clear: both;
  float: none;
}
*/
