/* Palette
 * #c1d5de
 * #768691
 * #14171b
 * #141f38
 * #6c8cbc
 */

body {
  background-color: #14171b;
  color: #c1d5de;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.45;
  padding-left: 25px;
}

a, a:visited {
  color: #6c8cbc;
  text-decoration: none;
}

a:hover {
  color: #768691;
}
