body {
  background: $mainBackground;
  > header {
    width: $width;
    margin: 0 auto 10px;
    height: 150px;


    > a {
      float: left;
      display: block;
      width: 150px;
      height: 150px;
      img {
        width: 100%;
      }
    }
    > h1 {
      margin: 0 0 0 170px;
      padding-top: 30px;
      height: 50px;
    }
    > nav {
      height: 90px;
      padding-top: 10px;
      margin-left: 163px;
      > a {
        padding: 5px 7px;
        margin: 0;
        font-weight: bold;
        @include corners(5px);
        &:hover {
          @include linkHover;
          &.current {
            color: $linkColorActive;
          }
        }
      }
    }
  }
  .main {
    width: $width;
    margin: 0 auto;
    header {
      span {
        display: inline-block;
        width: 220px;
        float:right;
      }
      h2 {
        display: inline-block;
      }
    }
    .title, .title a, .title h2 {
      @include headerType;
      font-size: 24px !important;
      font-weight: bold;
      height: 36px;
      margin: 0;
      padding: 0;
    }
    .title span.date {
      float: right;
    }
    p.date {
      font-size: 10px;
      font-variant: small-caps;
    }
    .text {
      @include paragraphType;
      padding: 10px;
      @include corners(5px);
      background: $textBackground;
      > pre {
        @include corners(5px);
      }
    }
  }
  footer {
    text-align: center;
    clear: both;
    width: 100%;
    margin: 0 0 20px 0;
    background: transparent url("/images/hr.gif") no-repeat bottom center;
  }
}

