/* Variables */
$headerFonts: 'Roboto Slab', serif;
$headerColor: #fff;

$paragraphFonts: Cantarell, Helvetica, Arial, sans-serif;

$width: 960px;

$mainBackground: #232323;
$mainColor: #fff;

$textBackground: url("/images/contentbackground.png") repeat;

$linkColor: #e11921;

$linkColorActive: #000;
$linkBackgroundActive: url("/images/contentbackground.png") repeat;

$linkBackgroundHover: #a4060a;



/* Mixins */

/* Font */
@mixin headerType {
  font-family: $headerFonts;
  color: $headerColor;
}

@mixin paragraphType {
  font-family: $paragraphFonts;
}

@mixin linkType {
  color: $linkColor;
  text-decoration: none;
}

@mixin linkActive {
  color: $linkColorActive;
  background: $linkBackgroundActive;
}

@mixin linkHover {
  background: $linkBackgroundHover;
  color: #fff;
}
