@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Cantarell);

/* normalize.css */
@import "/lib/css/normalize.css";

@import "variables";

@import "corners";
@import "shadows";

@import "typography";
@import "structure";

/*
body, * {
  background-color: #FAFAFA;
}

body {
  margin: 20px;
}

header, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #04356C;
}


header {
  display: block;
}

header > img {
  float: left;
}

header > .header {
  display: inline;
  float: left;
  margin-left: 20px;
}

header > h1 {
}

header > nav {
}

.clearfloat {
  clear: both;
  float: none;
}
*/
