/* Variables */
$headerFonts: 'Roboto Slab', serif;
$headerColor: #fff;

$paragraphFonts: Cantarell, Helvetica, Arial, sans-serif;
$width: 960px;

$mainColor: #fff;
$mainBackground: #232323;
$textBackground: #ededed;

$linkColor: #e11921;
$linkBackgroundHover: #a4060a;

/* Font */
@mixin headerType {
  font-family: $headerFonts;
  color: $headerColor;
}

@mixin linkType {
  color: $linkColor;
  text-decoration: none;
}

@mixin linkHover {
  background: $linkBackgroundHover;
  text-decoration: none;
  color: #fff;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include headerType;
}

a.btn-link {
  @include corners(5px);
  @include linkType;
  &:hover {
    @include linkHover;
  }
}

p.btn-nolink {
  cursor: default;
}

body {
  background: $mainBackground;

  .main {
    width: $width;
    margin: 0 auto;
  }

  p, ul {
    padding: 10px !important;
    @include corners(5px);
    background: $textBackground;
    > pre {
      @include corners(5px);
    }
  }

  section:before {
    content: "";
    border: none;
    display:block;
    height: 10px;
    text-align: center;
    clear: both;
    width: 100%;
    background: transparent url("/images/hr.gif") no-repeat bottom center;
  }
}

