{% include start.html %}
{% include head.html %}
 <body>
    <header>
      <img src="http://s.gravatar.com/avatar/925cda547e97805cbdc56b01c5ff467d?s=160" />
      <div class="header">
        <h1>
          {% unless page.path contains '_posts' %}
          <a href="/">{{ site.name }}{%if page.title %}: {{ page.title }} {% endif %}</a>
          {% else %}
          <a href="/">{{ site.name }}{%if page.title %}: words: {{ page.title }} {% endif %}</a>
          {% endunless %}
        </h1>
        <nav>
          <a href="/">home</a> &#124;
          <a href="/words">words</a>
        </nav>
      </div>
      <div class="clearfloat"></div>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
{% include end.html %}
